body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 20px;
}

body, html {
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #acb6e5); /* 배경 그라디언트 */
}

.container {
	max-width: 500px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
}

h2 {
	text-align: center;
	color: #333;
}

form div {
	margin-bottom: 10px;
	position: relative; /* For positioning the check ID button */
}

form label {
	display: block;
	margin-bottom: 0px;
}

form input[type="password"]{
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

button[type="submit"], #check_id {
	/* Style for both the submit and check ID buttons */
	width: 100%;
	padding: 10px;
	background-color: #5cb85c;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px; /* Added margin-top for spacing */
}

button[type="submit"]:hover, #check_id:hover {
	/* Hover effects for both buttons */
	background-color: #45a049;
}