<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>비밀번호 변경</title>
<link rel="stylesheet" th:href="@{/css/editPassword.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<h2>비밀번호변경</h2>
		<form th:action="@{/user/editPassword}" th:object="${userDTO}"
			method="post">
			<div>
				<label>현재 비밀번호</label> <input type="password" id="currentPw"
					name="currentPw">
				<div id="currentPw-error-message" style="color: red;"></div>
			</div>
			<div>
				<label>비밀번호 입력</label> <input type="password" id="newPw"
					name="newPw">
			</div>
			<div>
				<label>비밀번호 확인</label> <input type="password" id="newPwConfirm"
					name="newPwConfirm">
				<div id="newPwConfirm-error-message" style="color: red;"></div>
			</div>
			<div>
				<button type="submit" id="edit_password" >비밀번호
					변경하기</button>
			</div>
		</form>
	</div>
	<script th:src="@{/js/editPassword.js}"></script>
</body>
</html>
